* {
    color: black;
}

body {
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    background-color: #ccd5ae;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #d4a373;
}

h1, h2, .return {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
    border: 5px solid #fefae0;
}

.homepage {
    text-align: center;
}